body {
    /* background-color: rgb(185, 187, 172); */
    background-image: url("/img/tile_background_6.png");
    background-size: cover;
    opacity: 1;
}

/*Home*/
.main-image {
    width: 80vmin;
    border: 20px solid orange;
}



/*Menu*/
.menu-item-image {
    width: 5rem;

}

.menu-page{
    display: flex;
}

.menu-item{
    display: flex;
    flex-direction: row;
}


/*Contact*/
.contact-page {
    display:flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-icon {
   width: 5rem;

}

